<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Send all requests to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # If the requested resource in public doesn't exist, pass to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^public/(.*)$ public/index.php [L]
</IfModule>